body {
    background-color: #C8D9BF; 
}


 table {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: white;
}
.title{
    color:black;
    font-size: 30px;
    text-align: center;
    margin-top:10%;
    text-shadow: 1px 1px 2px;
}
td {
    width: 100px; 
    height: 100px;
    text-align: center; 
    font-size: 24px; 
}



.score {
    float:right;
    margin-right:16%;
    font-size: 20px;
    text-align: center;
}

.userinfo {
    margin-left:20%;
    font-size: 20px;
  
}

button{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}
@media (max-width: 768px) {
    .score {
        font-size: 16px; 
        margin-top: 10px; 
    }

    .userinfo {
        font-size: 16px; 
        margin-top: 10px;
    }

    table {
        width: 80%; 
        max-width: 250px; 
        top:60%;
    }

    td {
        width: 33.33%; 
        height: 50px; 
        font-size: 18px; 
    }

    button {
        max-width: 150px;
        top:90%;
    }
}
