body {
    background-color: #C8D9BF;
}


table {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}
.title{
    color:black;
    font-size: 30px;
    text-align: center;
    margin-top:10%;
    text-shadow: 1px 1px 2px;
}
td {
    width: 100px; /* Set a fixed width for table cells */
    height: 100px; /* Set a fixed height for table cells */
    text-align: center; /* Center text inside cells */
    font-size: 24px; /* Adjust font size for better appearance */
}



.score {
    float:right;
    margin-right:16%;
    font-size: 20px;
    text-align: center;
}

.userinfo {
    margin-left:20%;
    font-size: 20px;
  
}

button{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}
@media (max-width: 768px) {
    .score {
        font-size: 16px; /* Adjust font size for mobile */
        margin-top: 10px; /* Adjust margin-top for mobile */
    }

    .userinfo {
        font-size: 16px; /* Adjust font size for mobile */
        margin-top: 10px; /* Adjust margin-top for mobile */
    }

    table {
        width: 80%; /* Adjust table width for mobile */
        max-width: 250px; /* Adjust maximum width for mobile */
    }

    td {
        width: 33.33%; /* Keep cell width consistent */
        height: 80px; /* Adjust cell height for mobile */
        font-size: 18px; /* Adjust font size for mobile */
    }

    button {
        max-width: 150px; /* Adjust button width for mobile */
    }
}
